<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Baeldung Ecommerce</a>
    <button (click)="toggleCollapsed()" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarResponsive" data-toggle="collapse"
            type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}"
         id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a (click)="reset()" class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
