<div class="row card-deck">
  <div *ngFor="let order of productOrders" class="col-lg-4 col-md-6 mb-4">
    <div class="card text-center">
      <div class="card-header">
        <h4>{{order.product.name}}</h4>
      </div>
      <div class="card-body">
        <a href="#"><img alt="" class="card-img-top" src={{order.product.pictureUrl}}></a>
        <h5 class="card-title">${{order.product.price}}</h5>
        <div class="row">
          <div *ngIf="!isProductSelected(order.product)" class="col-4 padding-0">
            <input [(ngModel)]=order.quantity class="form-control" min="0" type="number">
          </div>
          <div *ngIf="!isProductSelected(order.product)" class="col-4 padding-0">
            <button (click)="addToCart(order)" [disabled]="order.quantity <= 0"
                    class="btn btn-primary">Add To Cart
            </button>
          </div>
          <div *ngIf="isProductSelected(order.product)" class="col-12">
            <button (click)="removeFromCart(order)"
                    class="btn btn-primary btn-block">Remove From Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
© 2020 GitHub, Inc.
